

/* #Media Queries
================================================== */
@media only screen and (min-width:992px) and (max-width: 1200px) {
	.head-article{
		width: 100%;
	}
}

@media only screen and (min-width: 960px) and (max-width: 991px) {
	.head-article{
		width: 100%;
	}
}

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {	
	.head-article{
		width: 100%;
	}
		.innerart{
	margin-bottom: 10px;
}

}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	.head-article h2{
		font-size:20px;
		width: 100%;
	}
	.innerart h3{
		font-size: 15px;
	}
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {

	}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.head-article{
		width: 60%;
	}
	
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {	
	.head-article{
		width: 100%;
	}
	
	.top-username a i {
    
    top: 14px;
    font-size: 15px;
    margin-right: 1px;
}
.top-username a{
	font-size: 15px;
}
.top-username a span{
	top:14px;
}
.main-header .navbar .nav>li.user>a>.fa{
	margin-right: 3px;
}
.box-header .box-title,.c-tag{
	font-size:16px;
}
.box-header>.box-tools{
	position: relative;
}
.innerart h3{
	font-size: 13px;
}
.newinner p{
	font-size: 14px;
}
.newinner span{
	font-size: 22px;
}
.innerart{
	margin-bottom: 10px;
}
#dateform .form-group{
	display: block;
}
}